# Mac
.DS_Store
**/.DS_Store

# dependencies
/node_modules
npm-debug.log

# Database config
/config  # each person's config will be different locally

# misc
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
